name: Release Tags

on:
  push:
    branches:
      - main
    paths:
      - "packages/**"
  workflow_dispatch:

permissions:
  actions: write
  contents: write

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  create_release_tags:
    runs-on: ubuntu-latest
    if: startsWith(github.event.head_commit.message, 'chore(release)')
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: "stable"
          cache: true

      - name: Create GitHub App Token
        uses: actions/create-github-app-token@v2
        id: generate-token
        with:
          app-id: ${{ secrets.APP_ID }}
          private-key: ${{ secrets.APP_PRIVATE_KEY }}

      - name: Create release tags
        uses: bluefireteam/melos-action@v3
        env:
          GITHUB_TOKEN: ${{ steps.generate-token.outputs.token }}
        with:
          include-private: true
          tag: true
