name: Release Packages
on:
  push:
    branches: 
      - main
  workflow_dispatch:

jobs:
  publish-packages:
    name: Publish
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Setup Flutter
        uses: subosito/flutter-action@v2.19.0
        with:
          channel: "stable"
          cache: true

      - uses: bluefireteam/melos-action@v3
        with:
          include-private: true
          run-versioning: true
          publish-dry-run: true
