name: Release Create

on:
  push:
    tags:
      - "*"

permissions:
  contents: write

jobs:
  create_release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Extract package name
        id: extract_package
        run: |
          TAG=${{ github.ref_name }}
          PACKAGE_NAME=${TAG%-v*}
          echo "package_name=$PKG_NAME" >> $GITHUB_OUTPUT

      - name: Extract release notes
        id: extract-release-notes
        uses: ffurrer2/extract-release-notes@v2
        with:
          changelog_file: ./packages/${{ steps.extract_package.outputs.package_name }}/CHANGELOG.md

      - name: Create GitHub Release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gh release create ${{ github.ref_name }} \
          --title "${{ github.ref_name }}" \
          --notes '${{ steps.extract-release-notes.outputs.release_notes }}'
